$font: #444444; // texte du site
$framboise: #E83B89; // bouton
$white: #FFFFFF; // texte de bienvenue et h2 footer
$lightgray: #ECECEC; // fond de clubActus
$lightblue: #BDECF6; // bordures contactez nous
$footer: #444444; // fond footer
$gray: #747474; // texte footer


